.card {
  margin: 1rem auto;
  width: 100%;
  background-color: #e5e5e5 !important;


  .status {
    font-size: 1.2rem;
    width: 100%;
    font-weight: 500;
    color: black;
  }

  hr {
    width: 100%;
  }
}
