.home-wrapper {
  width: 100%;
  height: auto;

  .home-title {
    text-align: center;
    width: 100%;
    margin: 2rem auto;

    h2 {
      font-size: 3rem;
      letter-spacing: 2px;
      font-weight: 500;
    }
  }

  .home-btn {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .add-btn {
      width: 30%;
    }

    .filter-btn {
      width: 70%;
      text-align: right;

      button {
        margin: 0.5rem;
      }
    }

  }

  .cards-wrapper {
    width: 40%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


  }
}

.dialog-title {
  width: 80%;
  margin: 1rem auto;
  text-align: left;

}

.dialog-content {
  width: 80%;
  margin: 0 auto 2rem auto;

  .form {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;

    .dialog-input {
      margin: 1em auto;
      width: 100%;

    }
  }
}


@media only screen and (max-width: 700px) {
  .home-wrapper {
    .home-btn {
      flex-direction: column;

      .filter-btn {
        text-align: left;
      }
    }
  }
}

